<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="my To-do List app">
  <meta name="author" content="Avi Shatz">

  <title>To Do List</title>

  <!-- Favicons -->
  <link rel="icon" href="images/big_logo.png">

  <!-- Custom styles for this template -->
  <link href="css/styles.css" rel="stylesheet">

</head>

<body>
